
/* Import the main font for this website */
@import url(https://fonts.googleapis.com/css?family=Quicksand);
            /****************************************
             *                                      *
             *              BASE STYLE              *
             *                                      *
             ****************************************/

/* Root of the page, strip any margin and padding added by browser,
   define variable for the banner height.*/
* {
    padding: 0;
    margin: 0;
    --bannerheight: 100px;
}


/* Main font of page content*/
body {
    font-family: 'Quicksand';
}


/* Banner at the top of the page*/
.banner {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(200, 200, 200);
    height: var(--bannerheight);
    margin: 0 auto;
    margin-bottom: 20px;

}

.banner img {
    height: calc(var(--bannerheight) - 20px);
    margin-left: 50px;
}


.banner a {
    float: right;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 20px;
}


/* Main page content will display at 1300px width. */
.pagecontent {
    width: 1300px;
    margin: 0 auto;
}


            /****************************************
             *                                      *
             *                BUTTONS               *
             *                                      *
             ****************************************/


/* Default button properties */
button {
    font-family: 'Quicksand';
    cursor: pointer;
    font-weight: bold;
    border: none;
    background-color: rgb(255, 255, 255);
}

button:hover {
    background-color: rgb(200, 200, 200);
}


/* Buttons in the modal*/
.modal button {
    border: 4px solid rgb(0, 105, 155);
    color: rgb(0, 105, 155);
    padding: 10px 20px 10px 20px;
}

.modal button:hover {
    border: 4px solid rgb(0, 86, 122);
    color: rgb(0, 86, 122);
}


/* Questions on the home window*/
.questionbtn {
    display: block;
    position: relative;
    text-align: left;
    padding: 40px 0px 40px 20px;
    width: 240px;
}

.question h5 {
    font-size: 15px;
    font-weight: 600;
}


/* User menu */
#usermenu {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 200px;
}

.dropbtn {
    font-size: 20px;
    font-weight: 400;
    color: rgb(100,100,100);
    width: 200px;
    height: 70px;
    position: relative;
    z-index: 2;
}

.dropbtn:hover {
    background-color: white;
    cursor: default;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content {
    display: none;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: relative;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px 0px 15px 20px;
}

.dropdown-content a:hover {
    background-color: rgb(200,200,200);
}

.boardmenu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}

/*side panel*/

.activitybtn {
    background-color: rgb(50,50,50);
    height: 60px;
    width: 60px;
    border-radius: 30px;
    font-size: 25px;
    color: white;
    margin: 20px;
}

.activitybtn:hover {
    background-color: rgb(0, 105, 155);
}

.closeactivitybtn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
    background-color: rgb(25,25,25);
}

.closeactivitybtn:hover{
    background-color: rgb(50,50,50);
}

.hiddenpanel {
    background-color: rgba(0,0,0,0.9);
    height: 100vh;
    width: 500px;
    float: right;
    display: none;
}

/* Tabbar in the infoscreen */
.tabbar {
    height: 40px;
}

.tabbar button {
    background-color: white;
    border: 1px solid rgb(200,200,200);
    border-radius: 0px;
    outline: none;
    height: 100%;
    width: 25%;
    float: right;
}

.tabbar button:hover {
    background-color: rgb(243, 243, 243);
}

.tabbar button.active {
    background-color: rgb(200, 200, 200);
    cursor: default;
}


/* Button in the work environment */
#we-options button {
    border: 1px solid rgb(200,200,200);
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
}

#examplePDF button {
    border: 1px solid rgb(200,200,200);
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
}

#examplePDF i {
    font-size: 20px;
}

.articlebtndiv {
    text-align: right;
}

.articlebtndiv button {
    color: white;
    background-color: rgb(1, 104, 155);
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.articlebtndiv button:hover {
    background-color: rgb(200,200,200);
}

.approvalbtn {
    background-color: rgb(1, 104, 155);
    color: white;
    position: relative;
    width: 240px;
    top: 0px;
    padding: 10px 20px;
}

            /****************************************
             *                                      *
             *                 MODAL                *
             *                                      *
             ****************************************/

#questioninfo{
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
}

#questioninfo button {
    font-size: 30px;
    background-color: white;
}

#articleinfo {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
}

#articleinfo button {
    font-size: 30px;
    background-color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    padding-top: 150px;
    overflow: auto;
}

.modal-content {
    background-color: rgb(243,243,243);
    border: 1px solid rgb(40, 40, 40);
    width: 35%;
    padding: 60px 50px 20px 50px;
    margin: auto;
    text-align: center;
}

.modal .options {
    padding-top: 50px;
}

.de-emphasized {
    filter: blur(5px);
}

form {
    display: inline;
}


            /****************************************
             *                                      *
             *               HOME PAGE              *
             *                                      *
             ****************************************/


.workspace {
    height: 80vh;
    margin: 0 auto;
}


/* Kanban zone contains a list of questions with a certain status */
.kanbanzone{
    display: inline-block;
    border-radius: 8px;
    background-color: rgb(1, 104, 155);
    height: 580px;
    width: 300px;
    margin: 10px;
    -webkit-box-shadow: 0px 10px 15px 5px rgba(60,60,60,0.35);
    -moz-box-shadow: 0px 10px 15px 5px rgba(60,60,60,0.35);
    box-shadow: 0px 10px 15px 5px rgba(60,60,60,0.35);
    overflow-x: hidden;
}

.kanbanzone h3 {
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}


/* List of questions with a certain status */
.questionlist {
    width: 300px;
    background-color: white;
    height: 490px;
    overflow-y: hidden;
}

.questionlist:hover {
    overflow-y: auto;
}

.questionlist p {
    color: rgb(120, 120, 120);
    text-align: center;
    line-height: 400px;
}

.questionlist ul {
    list-style-type: none;
    margin-top: 20px;
    margin-left: 30px;
}

/* A question is represented as a button with the question title */
.question {
    display: inline-block;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(60,60,60,0.55);
    -moz-box-shadow: 0px 3px 3px 0px rgba(60,60,60,0.55);
    box-shadow: 0px 3px 3px 0px rgba(60,60,60,0.55);
    margin-bottom: 10px;
    border-top: 5px solid rgb(1, 104, 155);
}

.approvecount {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


.hiddenpanel h4 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
    font-size: 30px;
}

.hiddenpanel li {
    color: white;
    background-color:rgba(0,0,0,0.7);
    height: 100px;
    width: 420px;
    padding-right: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    list-style-type: none;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.55);
}

.hiddenpanel p {
    padding-left: 20px;
    padding-top: 30px;
}

            /****************************************
             *                                      *
             *               EDIT AREA              *
             *                                      *
             ****************************************/


/* Editspace that contains the text editor and the info screen*/
.editspace {
    position: relative;
    height: 750px;
}


/* The quill text editor*/
.texteditor {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 94%;
    width: 645px;
}


/* Info screen and its elements*/
.infoscreen {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 645px;
    height: 94%;

}

.infodisplay{
    width: 100%;
    height: 100%;
}

.infocontent {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(200,200,200);
}

#examplePDFiframe {
    width: 100%;
    height: 100%;

}

.oldquestionlist {
    list-style-type: none;
}

.oldquestionlist li {
    background-color: white;
    margin: 20px;
    padding: 20px 20px  0px 20px;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(60,60,60,0.55);
    -moz-box-shadow: 0px 3px 3px 0px rgba(60,60,60,0.55);
    box-shadow: 0px 3px 3px 0px rgba(60,60,60,0.55);
    border-top: 5px solid rgb(1, 104, 155);
}

.oldquestionbtndiv {
    width: 100%;
    text-align: right;
}

.oldquestionlist button {
    color: white;
    background-color: rgb(1, 104, 155);
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.oldquestionlist button:hover {
    background-color: rgb(200,200,200);
}

.articlelist {
    list-style-type: none;
    margin: 20px;
}

.articlelist li {
    margin-bottom: 10px;
    padding: 20px 20px  0px 20px;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(60,60,60,0.55);
    -moz-box-shadow: 0px 3px 3px 0px rgba(60,60,60,0.55);
    box-shadow: 0px 3px 3px 0px rgba(60,60,60,0.55);
    border-top: 5px solid rgb(1, 104, 155);
}

#articlecontent {
  height: 80%;
  overflow-y: scroll;
}

#infosubquestions {
  height: 80%;
  overflow-y: scroll;
}
