<!-- -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title> Workspace </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'q_answering/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
    {% if user.is_authenticated %}
    <div class="boardmenu">
        <button class="activitybtn" id="sidepanelbtn" onclick="panelToggleON()">
            <i class="fas fa-bars"></i>
        </button>

        <div class="hiddenpanel" id="sidepanel">
            <h4>Werkplek Activiteit</h4>
            <ul>
                <li>
                    <p>Vraag "Uitbreiding Schiphol" is verplaatst van
                        Te doen naar "In Voortgang" door jou.</p>
                </li>
                <li>
                    <p>Antwoord op "Uitbreiding Schiphol" is aangepast door Robin.</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="pagecontent">
        <!-- The website banner -->
        <div class="banner">
            <!-- Load in logo -->
            <img src="{% static 'q_answering/logo.png' %}"/>
            <a href="{% url 'logout' %}">log uit</a>
        </div>

        <div class="workspace">

            <div class="kanbanzone" id="todo">
                <h3>te doen</h3>
                <div class="questionlist">
                    <!-- If there are questions with status 'to do', display
                         each one of them. Else, display 'no questions
                         available' message -->
                    {% if todo_questions %}
                    <ul>
                        {% for question in todo_questions %}
                            <li class="question">
                                <button class="questionbtn" onclick="indexPopup('{{question.id}}',
                                  '{{question.title}}', '{{question.description}}')">
                                    <h5>{{ question.title }}</h5>{{question.upload_date.date}}</button>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p> Geen vragen met deze status </p>
                    {% endif %}
                </div>
            </div>

            <div class="kanbanzone" id="inprogress">
                <h3>in voortgang</h3>
                <div class="questionlist">
                    {% if inprogress_questions %}
                    <ul>
                        {% for question in inprogress_questions %}
                            <li class="question">
                                <button class="questionbtn" onclick="indexPopup('{{question.id}}',
                                  '{{question.title}}', '{{question.description}}')">
                                  <h5>{{ question.title }}</h5>
                                  {{question.upload_date.date}}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p> Geen vragen met deze status </p>
                    {% endif %}
                </div>
            </div>

            <div class="kanbanzone" id="needverify">
                <h3>afgerond</h3>
                <div class="questionlist">
                    {% if needverify_questions %}
                    <ul>
                        {% for question in needverify_questions %}
                            <li class="question">
                                <button class="questionbtn" onclick="indexPopup('{{question.id}}',
                                  '{{question.title}}', '{{question.description}}')">
                                    <h5>{{ question.title }}</h5>
                                    {{question.upload_date.date}}
                                    <span class="approvecount">
                                        approved: {{question.verification_set.count}}/1
                                    </span>
                                </button>

                                {% if user.employee.is_admin %}
                                <form action="{% url 'approveQuestion' %}"
                                  method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="employeeid" value="{{request.user.id}}">
                                    <button class="approvalbtn"
                                            name="questionid"
                                            value="{{question.id}}"
                                            type="submit">
                                          approve
                                    </button>
                                </form>
                                  {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p> Geen vragen met deze status </p>
                    {% endif %}
                </div>
            </div>

            <div class="kanbanzone" id="done">
                <h3>goedgekeurd</h3>
                <div class="questionlist">
                    {% if approved_questions %}
                    <ul>
                        {% for question in approved_questions %}
                            <li class="question">
                                <button class="questionbtn" onclick="indexPopup('{{question.id}}',
                                  '{{question.title}}', '{{question.description}}')">
                                    <h5>{{ question.title }}</h5>
                                    {{question.upload_date.date}}
                                    <span class="approvecount">
                                        approved: {{question.verification_set.count}}/1
                                    </span>
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p> Geen vragen met deze status </p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>


    <!-- Popup modal for clicking a question -->
    <div class="modal" id="modal">
        <div class="modal-content">
            <p>
                Weet u zeker dat u de vraag
                "<i><span id="questionName"></span></i>" wilt beantwoorden?
            </p>
            <br>
            <i><p id="questionDescription"></p></i>

            <div class="options">
                <!-- Redirect to work environment when getting confirmation -->
                <form action="{% url 'questioneditwindow' %}"
                      method="post">
                      {% csrf_token %}
                <button id="questionAnswer" name="id" type="submit" >
                    Beantwoord Vraag
                </button>
                </form>

                <!-- Cancel will close popup -->
                <button onclick="closePopup()">
                    Annuleer
                </button>
            </div>
        </div>
    </div>

    <!-- Javascript file that regulates the modal functionality-->
    <script src="{% static 'q_answering/modal.js' %}"></script>
    <script src="{% static 'q_answering/sidepanel.js' %}"></script>
    {% else %}
    U bent niet ingelogd!
    <a href="{% url 'login' %}">log in</a>
    {% endif %}
</body>
</html>
