/* This file contains the style and layout for the popup modals*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    padding-top: 150px;
    overflow: auto;
}

.modal-content {
    background-color: rgb(243,243,243);
    border: 1px solid rgb(40, 40, 40);
    width: 40%;
    padding: 50px 20px 20px 20px;
    margin: auto;
    text-align: center;
}

.modal .options {
    padding-top: 50px;
}

.de-emphasized {
    filter: blur(5px);
}

form {
    display:inline;
}